PORT_BACKEND=3000
PORT_FRONTEND_CLIENT=3001
PORT_FRONTEND_ADMIN=3002
DB_PORT=5432
DB_DATABASE=printer_ink
DB_USERNAME=postgres
DB_PASSWORD=Ваш_Пароль_От_Postgres
CLIENT_URL=http://localhost

#CLIENT_URL=http://localhost
#CLIENT_URL=https://my-printer-app.ru